:root {
    /* Primary colors */

--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

/* Neutral colors*/

--transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
--very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

html, body {
    font-size:15px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    background: var(--very-light-gray);
}

.attribution {
    display: none;
}

.group {
    width: 375px;
    height: auto;
    background: var(--very-light-gray);

    display: flex;
    flex-direction: column;
    margin: 3em auto;
}

.box {
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 3em;
}

/* HEADING, PARAGRAPHS, COLORS, FONTS, ETC. */

.box p {
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7;
    margin-top: -0.8em;
    padding-bottom: 1em;
}
.box h2 {
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    font-weight: 700;
    
}

.sedan {
    background-color:var(--bright-orange);
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;

}

.suv {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

/* BUTTONS */
.box a {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    font-weight: 400;
    background-color: var(--very-light-gray);
    padding: 1em 2em;
    border-radius: 2em;

    text-decoration: none;
}

.sedan a {
    color: var(--bright-orange);
}
.suv a {
    color: var(--dark-cyan);
}
.luxury a{
    color: var(--very-dark-cyan);
}

/* ACTIVE BUTTONS */

.box a:active,
.box a:hover {
    color: var(--very-light-gray);
    background-color: transparent;
    border: 0.1em solid var(--very-light-gray);
}

/* MEDIA QUERIES */
@media  screen and (min-width: 950px) {
    
.group {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 3em auto;
}

.sedan {
    border-radius: 0.7em 0 0 0.7em;
}
.luxury {
    border-radius: 0 0.7em 0.7em 0;
}
.box h2 {
    margin-bottom: 1.5em;
}
.box p {
    margin-bottom: 3em;
}

}
    
